<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Desk Setup</title>
</head>
<body>
<h1>Welcome to Pravin's Desk Setup</h1>
<h2>
  <span>Apple Ecosystem Developer Tools<th:block th:text="${Build}">[]</th:block></span>
</h2>
<h3>
  <span>Mac: <th:block th:text="${Mac}">[mac]</th:block></span> <br />
  <span>Keyboard: <th:block th:text="${Keyboard}">[keyboard]</th:block></span> <br />
  <span>Thunderbolt Dock: <th:block th:text="${'CalDigit'}">[thunderbolt dock]</th:block></span> <br />
  <span>Mouse: <th:block th:text="${'MX Master 2x'}">[mouse]</th:block></span> <br />
  <span>ipad: <th:block th:text="${'iPad Pro'}">[ipad]</th:block></span> <br />
  <span>Monitor: <th:block th:text="${'Tern Setup'}">[monitor]</th:block></span> <br />

</h3>

</body>
</html>